.movieSearch {
  text-align: center;
  display: block;
}

.movieSearch h1 {
  text-shadow: 2px 2px blue;
  font-size: 40px;
  color: rgba(226, 11, 119, 0.836);
}

.movieSearch input {
  padding: 5px;
  text-align: center;
  font-size: 20px;
}
.movieSearch button {
  margin-top: 20px;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  background-color: black;
  color: aqua;
  border-radius: 10px;
  border: black;
  box-shadow: 2px 2px 1px 1px gray;
}
.movie-container {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.movieCard {
  margin-top: 50px;
  width: 250px;
  margin-bottom: 10px;
  border: 2px solid black;
  margin-left: 30px;
}
@media screen and (max-width: 600px) {
  .movie-container {
    width: auto;
    margin: auto;
    justify-content: space-around;
  }
}
.movieCard img {
  margin-top: 10px;
  width: 90%;
  height: 65%;
}
.movieCard h2 {
  margin: 0px;
}
.movieCard button {
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}
.movieSearch button :hover {
  background-color: white;
  color: black;
}
